/*******************************************************************************
 * TYPOGRAPHY
 ******************************************************************************/


h1, h2, h3, h4, h5, h6, p, ul {
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-weight: 400;
}

h2 {
  font-size: calculateRem(34px);
}

h3 {
  font-size: calculateRem(28px);
  margin-top: calculateRem(50px);
}

h4 {
  font-size: calculateRem(20px);
  margin-bottom: .25rem;
  font-weight: 400;
  padding-top: calculateRem(3px);
  padding-bottom: calculateRem(3px);
}

h4 + p {
  margin-top: 0;
}

// *** ACCENT COLORS *** //

h2, .text-accent--primary {
  color: var(--px-catalog-page-accent-color--primary, red);
}

h3, h4, .text-accent--secondary {
  color: var(--px-catalog-page-accent-color--secondary, blue);
}

// *** LINK COLORS *** //
a {
  text-decoration: none;
  &,
  &:link,
  &:visited,
  &:active,
  &:focus {
    color: var(--px-catalog-page-link-color, blue);
  }
  &:hover{
    color: var(--px-catalog-page-link-color--hover, navy);
  }
}

// *** CUSTOM BUTTON COLORS ** //
:root{
  --px-btn-primary-color: var(--px-hero-btn-primary-color, $white);
  --px-btn-primary-background: var(--px-hero-btn-primary-background, $select-default);
  --px-btn-primary-background--hover: var(--px-hero-btn-primary-background--hover, $select-hover);
  --px-btn-primary-background--pressed: var(--px-hero-btn-primary-background--pressed, $select-pressed);

  --px-btn-tertiary-color: var(--px-home-btn-tertiary-color, $select-default);
  --px-btn-tertiary-color--hover: var(--px-home-btn-tertiary-color--hover, $select-default);
  --px-btn-tertiary-color--pressed: var(--px-home-btn-tertiary-color--pressed, $select-pressed);
  --px-btn-tertiary-background: var(--px-home-btn-tertiary-background, transparent);
  --px-btn-tertiary-background--hover: var(--px-home-tertiary-background--hover,  $gray4);
  --px-btn-tertiary-background--pressed: var(--px-home-tertiary-background--pressed,  $gray7);
  --px-btn-tertiary-border-color: var(--px-home-btn-tertiary-border-color, $select-default);
}
