// Settings
@import "px-colors-design/_settings.colors.scss";

$px-catalog-gray: rgb(234,239,241);
$px-catalog-dark-gray: rgb(51,51,51);
$px-catalog-light-gray: rgb(240,240,240);
$px-catalog-blue: rgb(40,134,175);
$px-catalog-blue--hover: rgb(58,180,212);
$px-catalog-dark-blue: rgb(1, 41, 57);
$px-catalog-magenta: rgb(192,0,42);

px-tab {
  --px-tab-color--selected: $px-catalog-blue;
}

.version-finder {
  margin-top: 2rem;
}

.version-finder__page {
  margin-top: 1rem;
}

// Search page
.search-page__typeahead {
  max-width: 400px;
}
.search-page__label {
  margin-top: 1rem;
  color: $px-catalog-dark-gray;
}
.search-page__tags {
  margin-top: 1rem;
  min-height: 1rem;
}
.search-page__results {
  margin-top: 2rem;
}

.search-tag {
  display: inline-block;
  margin-top: .5rem;
  color: white;
  background-color: $px-catalog-blue;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}
.search-tag:hover {
  background-color: $px-catalog-blue--hover;
}
.search-tag__icon {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  position: relative;
  top: -1px;
}

.search-page-result-header {
  display: flex;
}
.search-page-result-header p {
  font-size: 12px;
  text-transform: uppercase;
}

.search-page-result {
  display: block;
  border-top: 1px solid $gray3;
  padding-top: 10px;
  display: flex;
}
.search-page-result p {
  font-size: 18px;
}
.search-page-result__name {
  flex: 1 1 auto;
}
.search-page-result__pre {
  width: 225px;
}
.search-page-result__post {
  width: 225px;
  color:  $px-catalog-magenta;
}
