/**
* CSS styles for Open-Source Projects on GitHub
*/

/**
* Styles for mobile version
*/
.gray-bar {
  background-color: #333;
  min-height: 36px;
}

.gray-bar a:link {
  color: #7e7e7e !important;
  font-family: "GE Inspira";
  font-size: 1em;
  display: block;
  letter-spacing: 1px;
}
.gray-bar a:visited {
  color: #7e7e7e !important
}

.gray-bar .lnk {
  float: left;
  width: 50%;
}

.gray-bar .lnk.first a:link {
  margin-left: 20px;
  margin-top: 9px;
}

.gray-bar .lnk.second a:link {
  float: right;
  margin-right: 20px;
  margin-top: 9px;
}


.osp-body {
   background: #e9e9e9;
}

.osp-hero {
  background:
    url(img/predix_open-source_banner.jpg)
    #1d5f11;
  background-size: cover;
  height: 318px;
  width: 100%;
}

.osp-hero-container {
  padding: 90px 0 0 0;
  text-align: center;
}

.osp-hero-title {
  font-size: 2.5em;
  font-family: "GE Inspira";
  color: #fff;
  text-align: center;
}

.ops-hero-subtitle {
  font-size: 1.2em;
  font-family: "GE Inspira Sans";
  text-align: center;
  margin-bottom: 1rem;
}

.osp-contents-container {
  width: 95%;
  padding-bottom: 60px;
  margin: 2% auto 0 auto;

}

.osp-contents-container-text {
  padding: 30px;
  font-size: 1.2em;
  font-family: "GE Inspira Sans";
}

.osp-cards-container {
  width: 100%;
  margin: 0 auto;
  background-color:#fff;
  padding: 5rem 5%;
  overflow: hidden;
}

.osp-card {
  min-height: 200px;
  width: 99.8%;
  float: left;
  background: #fff;
  margin: 10px 0 6px;
  box-shadow: -1px 1px 1px #aaa;
  border-radius: 3px;
  overflow: hidden;
}

.ops-card-title {
  padding: 10px;
  color: #4ead07;
}

.ops-card-title h3 {
  font-size: 1.2em;
}

.ops-card-status {
  padding: 0 10px 10px 10px;
  color: #999;
  font-weight: bold;
}

.ops-card-status .fa-code-fork {
  margin-left: 10px
}

.ops-card-text {
  padding: 0 10px;
  font-size: 0.9em;
}

.osp-hr {
  margin: 10px;
}

.ops-card-details {
  font-size: 0.7em;
  padding: 0 10px 10px 10px;
  overflow: hidden;
  color: #aaa;
}

.ops-card-language {
  float: left;
  font-size: 1.1em;
}

.ops-card-categories {
  float: right;
  font-size: 1.1em;
}

.ops-card-categories span {
  color: #4ead07;
}

.ops-card-btn {
  margin: 10px;
  font-weight: normal !important;
}

footer.ops-footer {
  background: #666;
}

footer.ops-footer .vw {
  max-width: 82rem;
}

.osp-footer-img img{
  width: 150px;
}

/**
* End styles for mobile version
*/

.platform {
  margin: 0 auto;
  font-size: 1.1rem;
}

.ipadImg, .ipadContent, .dataFirstContent, .dataFirstImage, .techDetailsContent, .techDetailsImage, .polymerContent, .polymerImage {
  display: inline-block;
}

.ipadContent {
  vertical-align: top;
  margin-top: 11%;
}
.seed_shot {
  width: 98%;
  margin: 3% auto 3% auto;
}

.techDetailsImage img, .ipadImg img, .polymerImage img, .ipadImg, .dataFirstImage, .techDetailsImage, .ipadContent {
  width: 100%;
}
.seed_shot img {
  width: 80%;
}
.ipadImg {
  width: 100%;
}
.seed_shot, .techDetailsImage, .ipadImg, .polymerImage{
  display: block;
}
hr {
  margin: 2rem 0 4rem 0;
}
.subHeader {
  font-size: 1.8rem;
}

.dataFirstContent {
  vertical-align: top;
  padding-top: 12%;
}

.dataFirstImage img {
  width: 100%;
}
.techDetailsContent,   .dataFirstContent, .polymerContent {
  display: block;
}
.techDetailsContent {
  vertical-align: top;
  padding-top: 8%;
  margin-bottom: 8%;
}
.polymerImage {
  display: block;
  vertical-align: top;
  padding-top: 15%;
  margin-bottom: 3%;
}
.white {
  color: #fff;
}

.github {
  text-align: center;
}
.ipadImg img {
  left: 0;
  position: static;;
}
.header  {
   max-width: 1000px;
   margin: 0 auto;
   font-size: 1.5rem;
}
@media screen and (min-width: 769px) and (max-width: 1069px) {
  .dataFirstImage img {
    width: 100%;
    margin-left: 20%;
  }
  .techDetailsImage {
    width: 50%;
  }
  .techDetailsContent,   .dataFirstContent, .polymerContent{
    width: 40%;
    display: inline-block;
  }
  .techDetailsContent {
    vertical-align: top;
  }
  .techDetailsImage img{
    margin-left: 41%;
  }
  .polymerImage {
    width: 40%;
    vertical-align: top;
  padding-top: 9%;
  }
  .polymerContent {
    margin-left: 10%;
    padding-top: 8%;
  }
  .ipadContent {
    width: 30%;
    vertical-align: top;
    position: relative;
    left: -8%;
    margin-top: 11%;
  }
  .dataFirstImage {
    width: 52%;
  }
  .ipadImg {
    width: 58%;
  }
  .ipadImg img {
    left: -27%;
    position: relative;
  }
.seed_shot, .techDetailsImage, .ipadImg, .polymerImage{
    display: inline-block;
  }
  .gray-bar a:link {
    color: #7e7e7e !important;
    font-family: "GE Inspira";
    font-size: 1em;
    display: block;
    letter-spacing: 1px;
  }

  .gray-bar a:visited {
    color: #7e7e7e !important
  }

  .gray-bar .lnk {
    float: left;
     width: 50%;
  }

  .osp-hero-container {
    padding: 50px 0 0 0;
  }

  .osp-hero-title {
    font-size: 5em;
  }

  .ops-hero-subtitle {
    font-size: 2em;
  }

  .osp-contents-container-text {
    padding: 30px 100px;
  }

  .osp-card {
    width: 47%;
    margin: 10px 10px;
  }

  .ops-card-btn {
    font-weight: normal !important;
    padding: 10px 30px !important;
  }
}

@media screen and (min-width: 1070px) and (max-width: 1440px) {
  .dataFirstImage img {
    width: 100%;
    margin-left: 20%;
  }
  .techDetailsImage {
    width: 59%;
  }
  .techDetailsContent,   .dataFirstContent, .polymerContent{
    width: 40%;
    display: inline-block;
  }
  .techDetailsContent {
    vertical-align: top;
  }
  .techDetailsImage img{
    margin-left: 14%;
  }
  .polymerImage {
    width: 40%;
    vertical-align: top;
  padding-top: 6%;
  }
  .polymerContent {
    margin-left: 10%;
    padding-top: 8%;
  }
  .ipadContent {
    width: 30%;
    vertical-align: top;
    position: relative;
    left: -8%;
    margin-top: 11%;
  }
  .dataFirstImage {
    width: 52%;
  }
  .ipadImg {
    width: 58%;
  }
  .ipadImg img {
    left: -27%;
    position: relative;
  }
  .seed_shot, .techDetailsImage, .ipadImg, .polymerImage{
    display: inline-block;
  }

  .gray-bar {
    background-color: #333;
    min-height: 36px;
  }

  .gray-bar a:link {
    color: #7e7e7e !important;
    font-family: "GE Inspira";
    font-size: 1em;
    display: block;
    letter-spacing: 1px;
  }

  .gray-bar a:visited {
    color: #7e7e7e !important
  }

  .gray-bar .lnk {
    float: left;
    width: 50%;
  }

  .gray-bar .lnk.first a:link {
    margin-left: 151px;
    margin-top: 9px;
  }

  .gray-bar .lnk.second a:link {
    float: right;
    margin-right: 151px;
    margin-top: 9px;
  }

  .osp-hero-container {
    padding: 60px 0 0 0;
  }

  .osp-hero-title {
    font-size: 8.2em;
    margin-bottom: 0;
  }

  .ops-hero-subtitle {
    font-size: 2.5em;
  }

  .osp-contents-container-text {
    font-size: 1.7em;
    font-family: "GE Inspira Sans";
    padding: 44px 15% 0;
  }

  .osp-cards-container {
    width: 100%;
    margin: 0 auto;
    padding: 5rem 5%;
    overflow: hidden;
  }

  .osp-card {
    width: 47%;
    margin: 10px 10px;
  }

  .osp-card.even {
    margin-left: 5px;
  }

  .osp-card.odd {
    margin-left: 35px;
  }
  .ops-card-title h3 {
    font-size: 1.3em;
  }

  .ops-card-status {
    padding: 0 10px 10px 10px;
    color: #999;
    float: right;
    margin-top: -48px;
    font-size: 1.2em
  }

  .ops-card-status .fa-code-fork {
    margin-left: 10px
  }

  .ops-card-text {
    padding: 0 10px;
    font-size: 1em;
  }

 .ops-card-btn {
   font-weight: normal !important;
   padding: 10px 30px !important;
 }

  .osp-footer-img img {
    width: 150px;
    margin-top: -12px;
  }

  .list-inline--delimited {
    font-size: 1.3em;
  }
  .ipadImg {
    width: 58%;
  }
  .ipadImg img {
    left: -27%;
    position: relative;
  }
}

@media screen and (min-width: 1441px) {
  .dataFirstImage img {
    width: 100%;
    margin-left: 20%;
  }
  .ipadImg {
    width: 58%;
  }
  .ipadImg img {
    left: -27%;
    position: relative;
  }
  .techDetailsImage {
    width: 50%;
  }
  .techDetailsContent,   .dataFirstContent, .polymerContent{
    width: 40%;
    display: inline-block;
  }
  .techDetailsContent {
    vertical-align: top;
  }
  .techDetailsImage img{
    margin-left: 41%;
  }
  .polymerImage {
    width: 40%;
    vertical-align: top;
  padding-top: 6%;
  }
  .polymerContent {
    margin-left: 10%;
    padding-top: 8%;
  }
  .ipadContent {
    width: 30%;
    vertical-align: top;
    position: relative;
    left: -8%;
    margin-top: 11%;
  }
  .dataFirstImage {
    width: 52%;
  }
  .seed_shot, .techDetailsImage, .ipadImg, .polymerImage{
    display: inline-block;
  }
  .gray-bar {
    background-color: #333;
    min-height: 36px;
  }

  .gray-bar a:link {
    color: #7e7e7e !important;
    font-family: "GE Inspira";
    font-size: 1em;
    display: block;
    letter-spacing: 1px;
  }

  .gray-bar a:visited {
    color: #7e7e7e !important
  }

  .gray-bar .lnk {
    float: left;
    width: 50%;
  }

  .gray-bar .lnk.first a:link {
    margin-left: 151px;
    margin-top: 9px;
  }

  .gray-bar .lnk.second a:link {
    float: right;
    margin-right: 151px;
    margin-top: 9px;
  }

  .osp-hero-container {
    padding: 28px 0 0 0;
  }

  .osp-hero-title {
    font-size: 8.2em;
    letter-spacing: -1px;
    margin-bottom: 0;
  }

  .ops-hero-subtitle {
    font-size: 3.3em;
  }

  .osp-contents-container-text {
    font-size: 1.7em;
    font-family: "GE Inspira Sans";
    padding: 44px 15% 0;
  }

  .osp-cards-container {
    width: 90%;
    margin: 35px auto 0;
    padding: 5rem 5%;
    overflow: hidden;
  }

  .osp-card {
    height: 310px;
    overflow: hidden;
    width: 47%;
  }

  .osp-card.even {
    margin-left: 5px;
  }

  .osp-card.odd {
    margin-left: 35px;
  }

  .osp-card .card-head {
    overflow: auto;
  }

  .ops-card-title {
    float: left;
    width: 70%;
  }

  .ops-card-title h3 {
    font-size: 1.7em;
  }

  .ops-card-status {
    padding: 16px 0 10px 17px;
    color: #999;
    float: left;
    margin-top: 0;
    font-size: 1.3em;
  }

  .ops-card-status .fa-code-fork {
    margin-left: 50px
  }

  .ops-card-text {
    padding: 22px 10px 0;
    font-size: 1.2em;
    line-height: 1.4em;
    min-height: 133px;
  }

  .ops-card-details {
    font-size: 0.9em;
    padding: 0 10px 10px 10px;
    overflow: hidden;
    color: #aaa;
  }

 .osp-card .ops-card-btn {
    display: block;
    font-weight: normal !important;
    font-size: 1.3em;
    margin: 4px 0 0 12px;
    min-height: 39px;
    padding: 0.525rem 1rem;
    width: 190px;
 }

 .osp-footer-img img {
    width: 150px;
    margin-top: -12px;
  }

  .list-inline--delimited {
    font-size: 1.3em;
  }
}
