@charset "UTF-8";

*,html {
  font-family: "GE Inspira Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,:after,:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  font-size: 1em;
  line-height: 1.25;
  background-color: #fff;
  color: #000;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

:host {
  /*! Comment to prevent cssmin munging this rule with html above and borking Safari */
  box-sizing: border-box;
}

body {
  margin: 0;
}

body:after {
  content: "";
  display: table;
  clear: both;
}

footer,header,main,section {
  display: block;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin-bottom: 1rem;
}

h2 {
  font-size: 45px;
  font-weight: 400;
}

li>ul {
  margin-bottom: 0;
}

ul {
  margin-left: 1.875rem;
}

img {
  border: 0;
}

.vw {
  width: 90%;
  max-width: 73.125rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1%;
  padding-left: 1%;
}

footer {
  position: relative;
  height: 6.25rem;
  padding-top: 2.0625rem;
  background-color: #eaeaea;
  color: #d1d0d8;
  z-index: 80;
}

footer .list-inline {
  text-align: center;
}

footer .layout__item:first-child {
  margin-right: 25%;
  margin-left: 25%;
}

footer small {
  font-size: .75rem;
  line-height: 1.5;
  text-align: center;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #d8d8d8;
  box-sizing: content-box;
  clear: both;
  margin: 2rem 0 2rem 0;
}

.iron-icon-0 {
  width: 18px;
  height: 18px;
  margin: 0 0 3px 5px;
}

@font-face {
  font-family: "GE Inspira Sans";
  font-weight: 400;
  font-style: normal;
  src: url(type/GEInspiraSans-Regular-v01.eot);
  src: url(type/GEInspiraSans-Regular-v01.eot?#iefix) format("embedded-opentype"), url(type/GEInspiraSans-Regular-v01.woff) format("woff"), url(type/GEInspiraSans-Regular-v01.ttf) format("truetype"), url("type/GEInspiraSans-Regular-v01.svg#GE Inspira Sans") format("svg");
}

@font-face {
  font-family: "GE Inspira Sans";
  font-weight: 400;
  font-style: italic;
  src: url(type/GEInspiraSans-Italic-v01.eot);
  src: url(type/GEInspiraSans-Italic-v01.eot?#iefix) format("embedded-opentype"), url(type/GEInspiraSans-Italic-v01.woff) format("woff"), url(type/GEInspiraSans-Italic-v01.ttf) format("truetype"), url("type/GEInspiraSans-Italic-v01.svg#GE Inspira Sans") format("svg");
}

@font-face {
  font-family: "GE Inspira Sans";
  font-weight: 700;
  font-style: normal;
  src: url(type/GEInspiraSans-Bold-v01.eot);
  src: url(type/GEInspiraSans-Bold-v01.eot?#iefix) format("embedded-opentype"), url(type/GEInspiraSans-Bold-v01.woff) format("woff"), url(type/GEInspiraSans-Bold-v01.ttf) format("truetype"), url("type/GEInspiraSans-Bold-v01.svg#GE Inspira Sans") format("svg");
}

@font-face {
  font-family: "GE Inspira Sans";
  font-weight: 700;
  font-style: italic;
  src: url(type/GEInspiraSans-BoldItalic-v01.eot);
  src: url(type/GEInspiraSans-BoldItalic-v01.eot?#iefix) format("embedded-opentype"), url(type/GEInspiraSans-BoldItalic-v01.woff) format("woff"), url(type/GEInspiraSans-BoldItalic-v01.ttf) format("truetype"), url("type/GEInspiraSans-BoldItalic-v01.svg#GE Inspira Sans") format("svg");
}

small {
  font-size: 80%;
}

.text--center {
  text-align: center;
}

.text--large {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1rem;
}

.text--small {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.text--gray {
  color: #a9a9a9;
}

.pull-left {
  float: left;
}

.u-4\/12 {
  width: 33.3333333333%!important;
  -webkit-flex: none!important;
  -ms-flex: none!important;
  flex: none!important;
}

.u-8\/12 {
  width: 66.6666666667%!important;
  -webkit-flex: none!important;
  -ms-flex: none!important;
  flex: none!important;
}

.layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 -1rem;
  padding: 0;
}

.layout__item {
  padding-left: 1rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-basis: 18.75rem;
  -ms-flex-preferred-size: 18.75rem;
  flex-basis: 18.75rem;
}

.layout__item:nth-last-child(-n+3):first-child,.layout__item:nth-last-child(-n+3):first-child~.layout__item {
  -webkit-flex-basis: 37.5rem;
  -ms-flex-preferred-size: 37.5rem;
  flex-basis: 37.5rem;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline>li {
  display: inline-block;
}

.list-inline--delimited>li+li:before {
  content: " | ";
}

a.item__link {
  font-size: 1.125rem;
  line-height: 1.1111111111;
}

:focus {
  outline: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
}

a,a:link,a:visited {
  color: #005eb8;
}

a:active,a:hover {
  outline: 0;
}

a:hover {
  color: #005eb8;
}

a.no-border {
  border: 0;
}

a.gray {
  color: #d8d8d8;
}

a.darker {
  color: #d1d0d8;
}

.icon {
  height: 100px;
  margin: 3%;
}

.icon--small {
  width: 68px;
  height: 43px;
}

.btn {
  border-color: transparent;
  font-family: "GE Inspira Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 13px 10px;
  height: 74px;
  text-decoration: none;
  font-weight: 700;
  color: #3f4145;
  background-color: #f0f1f2;
  margin: 0 10px 12px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color .1s linear,border-color .1s linear,color .1s linear;
  -moz-transition: background-color .1s linear,border-color .1s linear,color .1s linear;
  -o-transition: background-color .1s linear,border-color .1s linear,color .1s linear;
  transition: background-color .1s linear,border-color .1s linear,color .1s linear;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.btn,.btn:link,.btn:visited {
  border: 1px solid #005eb8;
  background-color: #005eb8;
  color: #fff;
}

.btn:active,.btn:hover {
  border: 1px solid #005eb8;
  background-color: #005eb8;
  color: #fff;
  box-shadow: none;
}

.viewport {
  width: 100%;
  height: 500px;
}

.text--left {
  text-align: left!important;
}

.hero {
  background-image: url('img/pattern_hero.jpg');
  background-repeat: repeat;
  text-align: left;
  color: white;
  padding: 5%;
}

.hero-header {
  vertical-align: top;
}

.hero-logo {
  max-width: 500px;
}

.main {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 5% 5% 2% 5%;
  overflow: hidden;
}

footer.footer {
  background: #7c7c84;
}

footer.footer .vw {
  max-width: 82rem;
}

.footer-img img {
  width: 150px;
}

.platform {
  margin: 0 auto;
  font-size: 1.1rem;
}

#tech-logo {
  width: 40%;
}

#tech-logo-2 {
  width: 25%;
}

.halves {
  margin-bottom: 10%;
  display: inline-block;
  vertical-align: middle;
}

.halves img {
  width: 100%;
}

.thirds {
  display: inline-block;
  width: 100%;
  /*max-width: 500px;*/
  text-align: center;
  vertical-align: top;
  margin: 0% 5% 10% 0;
}

.subHeader {
  font-size: 30px;
  font-weight: 400;
}

.header {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.headerBottom {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {

  .halves {
    width: 44%;
    margin: 0 5% 10% 0;
  }

  .thirds {
    width: 31%;
    margin: 0 1% 5% 1%;
  }

  .list-inline--delimited {
    font-size: 1.3em;
  }

  .hero-header {
    vertical-align: top;
  }

}
